@import '~bootstrap/scss/bootstrap';

body {
  width: 80%;
}

h1 {
  text-align: center;
}


.game-board {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.modal-header {
  text-align: center;
}

.modal-title {
  width: 100%;
  font-weight: bold;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
