@import '~bootstrap/scss/bootstrap';

body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 1rem;
}

h3 {

}

main {
  width: 800px;
  margin: 0 auto;
}

section {

  margin: 0 auto;
}

.game-board {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tile {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  //align-content: center;
  display: none; //turn on once Start Game is clicked
  font-size: 4rem;
  font-weight: bold;
}

.modal-header {
  text-align: center;
}

.modal-title {
  width: 100%;
  font-weight: bold;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.inline-button {
  margin: 1rem auto;
//  display: inline-flex;
}

.login-reg-sect {
  display: inline-flex;
}

.logout-chg-sect {
  display: inline-flex;
}

.logout-chg-sect button, .logout-chg-sect .text-left {
    justify-content: space-between;
}

.game-button {

}

.game-button button {
  display: none;
  margin: 1rem auto;
}

#logout, #change-password-modal, #get-games {
  display: none;
}
